.container{
  width: 1200px;
  margin: 100px auto;
}

.users-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.user {
  max-width: 200px;
  height: 400px;
  border: 2px solid #CECECE;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.header{
  text-align: center;
  margin-bottom: 40px;  
}

.header_input{
  padding: 10px 20px;
}